{{extend ("../layout.html")}}

{{#block ("head")}}

{{/block}}

{{#block ("body")}}
<div class="panel panel-default " role="document" >

    <form id="f1" class="form-horizontal" method="post">
        <div class="panel-heading">

            <h4 class="panel-title" id="gridSystemModalLabel">编辑大章节</h4>
        </div>

        <div class="panel-body">

            <div class="form-group">
                <label class="control-label col-sm-2">大章节名称:
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="vname" placeholder="请输入大章节名称"  value="{{vname}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">排序号:
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="sortno" placeholder="请输入排序号"  value="{{sortno}}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">说明：
                </label>
                <div class="col-sm-6">

                    <button type="submit" class="btn btn-primary" >保存</button>
                    <button type="button" class="btn btn-primary" onclick="window.location='/admin/detail/list/{{vid}}'" >返回</button>

                </div>
            </div>

        </div>
    </form>
</div>

{{/block}}
