{{extend ("./layout.html")}}

<script src="/bowersrc/bootstrap/dist/js/bootstrap.min.js"></script>

{{#block ("head")}}
 
<script>
   function del(id)
   {
      //1.0 获取到id的值
      
      //2.0 提示用户是否删除
      if(confirm("您是否要确定删除吗?"))
      {
        //3.0 当用户点击了确认以后，发出ajax请求即可 路径: get /admin/del/sdfsdfsdf   /admin/del/:id
        //这种写法最终发出的请求url是： /admin/del/sdfsdfs?rid=0.23213123
        $.get('/admin/del/'+id,'rid='+Math.random(),function(data){
            //data的格式:{"status":1,"message":"数据删除失败"} 或者 {"status":0,"message":"数据删除成功"}
        if(data.status != 0 )
        {
            alert(data.message);
        }else{
            //删除成功.提示用户以后再刷新当前列表页面
            alert(data.message);
            window.location = window.location;
        }

        },'json');
      }
      
        
   }
</script>

{{/block}}

{{#block ("body")}}

<div class="panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            学习资源管理
        </div>
    </div>

    <div class="panel-body">
        <div class="row">
         <form method="post">
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon">名称：</div>
                    <input type="text" class="form-control" name="vname" placeholder="请输入视频名称" value="{{ vname }}" >
                </div>
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-success" id="query" >查找</button>
            </div>
            <div class="col-md-6 col-md-offset-1">
                <button type="button" class="btn btn-success" onclick="window.location='/admin/add'"> 添加 </button>
            </div>
            </form>
        </div>
    </div>
</div>

<table class="table table-bordered">
    <tr>
        <th>编号</th>
        <th>课程标题</th>
        <th>课程类型</th>
        <th>图片</th>
        <th>摘要</th>
        <th>操作</th>
    </tr>
    
   {{#each(data)~}}
    <tr>
        <td>{{ xindex + 1 }}</td>
        <td>{{ this.title }}</td>
        <td> 默认 </td>
        <td><img src="{{ this.imgsrc }}"  width="30px" height="30px" /></td>
        <td>{{ this.summary }}</td>
        <td>
            <a href="/admin/edit/{{ this._id }}" class="btn btn-info btn-sm">编辑</a> |
            <a href="javascript:void(0)"  onclick="del('{{this._id}}')" class="btn btn-danger btn-sm">
            删除
        </a> |
            <a href="/admin/detail/list/{{ this._id }}"  class="btn btn-danger btn-sm">
                章节管理
            </a>
        </td>
    </tr>

    {{~/each}}
    
    </table>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">视频上传</h4>
      </div>
      <div class="modal-body">
        <form action="/admin/uploadfile" method="post" enctype="multipart/form-data">
            <input type="hidden" id="dataid" name="id" value="">
            <input type="file" name="mp4file" >

            <input type="submit" value="上传" style="display:none" id="btnupload">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" onclick="upload()" >上传</button>
      </div>
    </div>
  </div>
</div>
<script>
function upload(){

   $("#btnupload").click(); //触发click时间
}

//打开上传页面的时候可以将id动态赋予给上传页面中的隐藏域即可
function openupload(id){
  $("#dataid").val(id);
}
</script>

{{/block}}
