@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.text-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-num {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mm_container {
  padding-top: 2.64rem;
}
.mm_container .mm_header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.mm_container .mm_header .header_title {
  width: 100%;
  height: 1.30666667rem;
  background-color: #ff841d;
  position: relative;
}
.mm_container .mm_header .header_title .mm_logo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.45333333rem;
}
.mm_container .mm_header .header_title .mm_logo a {
  width: 4.94666667rem;
  height: 100%;
  display: block;
  background: url("../images/header_logo.png") no-repeat center;
  background-size: 4.94666667rem 0.66666667rem;
}
.mm_container .mm_header .header_title .appDown {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0.2rem;
}
.mm_container .mm_header .header_title .appDown a {
  width: 0.90666667rem;
  height: 100%;
  display: block;
  background: url("../images/header_app.png") no-repeat center;
  background-size: 0.90666667rem 0.90666667rem;
}
.mm_container .mm_header .header_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  position: relative;
}
.mm_container .mm_header .header_search input {
  width: 7.6rem;
  height: 0.8rem;
  position: absolute;
  top: 0.26666667rem;
  left: 0.26666667rem;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 0.34666667rem;
  text-indent: 0.46666667rem;
}
.mm_container .mm_header .header_search span {
  width: 1.68rem;
  height: 0.8rem;
  position: absolute;
  top: 0.26666667rem;
  right: 0.26666667rem;
  background-color: #ff841d;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.45333333rem;
  color: #fff;
}
.mm_container .product_title {
  width: 100%;
  height: 1.04rem;
  line-height: 1.04rem;
  font-size: 0.37333333rem;
  padding: 0 0.21333333rem;
  border: 0.02666667rem solid #eaeaea;
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
}
.mm_container .product_title .title_right {
  width: 1.66666667rem;
  height: 0.8rem;
  background-color: #f0f0f0;
  line-height: 0.8rem;
  text-align: center;
  margin-top: 0.12rem;
  border-bottom: 0.02666667rem solid #a9a9a9;
  border-radius: 0.10666667rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f5f5f5));
}
.mm_container .mm_footer .brand {
  width: 100%;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  padding: 0 0.26666667rem;
  background-image: linear-gradient(180deg, #feb968, #ff8800);
}
.mm_container .mm_footer .brand .brand_left {
  font-size: 0.4rem;
  color: #fff;
}
.mm_container .mm_footer .brand .brand_right {
  height: 100%;
}
.mm_container .mm_footer .brand .brand_right a {
  display: block;
  width: 0.53333333rem;
  height: 100%;
  background: url('../images/more.png') no-repeat center;
  background-size: 0.53333333rem 0.53333333rem;
}
.mm_container .mm_footer .footer_nav {
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  border: 0.02666667rem solid #c2c2c2;
  text-align: center;
  font-size: 0.34666667rem;
}
.mm_container .mm_footer .footer_nav .login,
.mm_container .mm_footer .footer_nav .register {
  width: 30%;
  height: 100%;
  border-right: 0.02666667rem solid #c2c2c2;
}
.mm_container .mm_footer .footer_nav .login a,
.mm_container .mm_footer .footer_nav .register a {
  display: block;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top {
  width: 40%;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top a {
  display: block;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top a i {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/top.jpg') no-repeat center;
  background-size: 0.4rem;
  position: relative;
  top: 0.04rem;
  right: 0.04rem;
}
.mm_container .mm_footer .cop {
  padding: 0.37333333rem 0;
  font-size: 0.33333333rem;
  text-align: center;
}
.mm_container .mm_footer .cop p {
  color: #666;
}
.mm_container .mm_footer .cop p span:nth-child(1) {
  color: red;
}
.mm_container .mm_footer .cop p span:nth-child(2) {
  color: #000;
}
.mm_container .mm_product .product_content {
  background-color: #fff;
}
.mm_container .mm_product .product_content li {
  padding: 0.26666667rem;
  border-bottom: 0.01333333rem solid #ff0000;
}
.mm_container .mm_product .product_content li a {
  display: block;
}
.mm_container .mm_product .product_content li a .content_left {
  width: 2.66666667rem;
  height: 2.66666667rem;
  background-color: #495;
}
.mm_container .mm_product .product_content li a .content_right {
  height: 2.66666667rem;
  overflow: hidden;
  padding-left: 0.13333333rem;
  position: relative;
}
.mm_container .mm_product .product_content li a .content_right h4 {
  height: 0.93333333rem;
  line-height: 0.4rem;
  font-size: 0.37333333rem;
  font-weight: normal;
}
.mm_container .mm_product .product_content li a .content_right p {
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.26666667rem;
  color: #ff841d;
}
.mm_container .mm_product .product_content li a .content_right .source {
  position: absolute;
  bottom: 0.13333333rem;
  color: #a1aac2;
  font-size: 0.32rem;
  left: 0.13333333rem;
}
.mm_container .mm_product .product_content li a .content_right .comment {
  position: absolute;
  bottom: 0.13333333rem;
  color: #a1aac2;
  font-size: 0.32rem;
  right: 0.13333333rem;
}
.mm_container .mm_product .product_content li a .content_right .comment i {
  width: 0.33333333rem;
  height: 0.24rem;
  background-color: red;
  display: inline-block;
  background: url('../images/comment.png') no-repeat center;
  background-size: 0.33333333rem 0.24rem;
}
.mm_container .mm_product .paging {
  width: 100%;
  height: 1.22666667rem;
  background-color: #fff;
  position: relative;
  font-size: 0.4rem;
}
.mm_container .mm_product .paging .page_up,
.mm_container .mm_product .paging .page_down {
  width: 2.18666667rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  text-align: center;
  border-radius: 0.10666667rem;
  background-image: linear-gradient(to bottom, #f4f4f4, #cccccc);
  position: absolute;
  top: 0.26666667rem;
}
.mm_container .mm_product .paging .page_up {
  left: 0.53333333rem;
}
.mm_container .mm_product .paging .page_down {
  right: 0.53333333rem;
}
.mm_container .mm_product .paging .select {
  width: 2.08rem;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  padding-left: 0.33333333rem;
  border-radius: 0;
  border: 0.02666667rem solid #b7b7b7;
  position: absolute;
  top: 0.26666667rem;
  left: 50%;
  transform: translate(-50%);
}
.mm_container .mm_product .paging .select i {
  position: absolute;
  top: 0.01333333rem;
  right: 0;
  display: inline-block;
  width: 0.53333333rem;
  height: 0.90666667rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #e1e1e1;
}
.mm_container .mm_product .paging .select .dropDown {
  position: absolute;
  bottom: 0.93333333rem;
  left: -0.02666667rem;
  background-color: #fff;
  border: 0.01333333rem solid #b7b7b7;
  display: none;
}
.mm_container .mm_product .paging .select .dropDown li {
  width: 2.05333333rem;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  text-align: center;
}
.mm_container .mm_product .paging .select .dropDown li.current {
  background-color: #ade1f5;
  color: #fff;
}
.mm_container {
  padding-top: 1.30666667rem;
  background-color: #fff;
}
.mm_container .mm_header .header_title {
  padding: 0 1.30666667rem;
  line-height: 1.30666667rem;
}
.mm_container .mm_header .header_title .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.30666667rem;
  height: 1.30666667rem;
}
.mm_container .mm_header .header_title .back a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
}
.mm_container .mm_header .header_title .title {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.mm_container .moneyproduct_product .moneyproduct_cotent {
  padding: 0.26666667rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_title {
  width: 100%;
  height: 1.06666667rem;
  line-height: 0.8rem;
  font-size: 0.48rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_price {
  font-size: 0.34666667rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #ff841d;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_subhead {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.34666667rem;
  color: #ccc;
  margin-bottom: 0.26666667rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_subhead span {
  margin-right: 0.2rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_text {
  width: 100%;
  margin-bottom: 0.26666667rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_text .text_img {
  width: 2.66666667rem;
  height: 2.66666667rem;
  background-color: red;
  margin-left: 0.2rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_text .text_img img {
  width: 100%;
  height: 100%;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_text .text_detaile {
  font-size: 0.33333333rem;
  line-height: 0.53333333rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent .moneyproduct_img {
  width: 100%;
  height: 9.46666667rem;
  background-color: #495;
}
.mm_container .moneyproduct_product .moneyproduct_cotent ul {
  width: 3.66666667rem;
  margin: 0.4rem auto 0;
  background-color: #fff;
  box-shadow: 0 0.06666667rem 0.26666667rem #999999;
  padding: 0 0.26666667rem;
  margin-bottom: 0.53333333rem;
}
.mm_container .moneyproduct_product .moneyproduct_cotent ul li {
  width: 100%;
  height: 0.56rem;
  line-height: 0.56rem;
  font-size: 0.33333333rem;
  border-bottom: 0.01333333rem dashed #666666;
}
.mm_container .moneyproduct_product .moneyproduct_cotent ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.mm_container .moneyproduct_product .moneyproduct_cotent ul li a span strong {
  float: right;
  color: #f27b04;
}
.mm_container .moneyproduct_product .moneyproduct_cotent ul li a:hover {
  background-color: #f7f6f4;
}
.mm_container .moneyproduct_product .disstorck {
  padding: 0 0.2rem;
}
.mm_container .moneyproduct_product .disstorck .disstorck_btn {
  margin-bottom: 0.33333333rem;
}
.mm_container .moneyproduct_product .disstorck .disstorck_btn span {
  width: 80%;
  height: 0.8rem;
  display: block;
  margin: 0 auto 1.2rem;
  background-color: #ff841d;
  border-radius: 0.10666667rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.37333333rem;
  color: #fff;
  box-shadow: inset 0 0 0.13333333rem #ff9d21;
}
.mm_container .moneyproduct_product .disstorck .disstorck_btn .disstorck_img {
  width: 90%;
  height: 6.66666667rem;
  margin: 0 auto;
  background-color: lime;
}
.mm_container .moneyproduct_product .disstorck .disstorck_btn .disstorck_img img {
  height: 100%;
}
.mm_container .moneyproduct_product .disstorck .tit {
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.42666667rem;
}
.mm_container .moneyproduct_product .disstorck .reply .form {
  border: 0.01333333rem solid #cccccc;
}
.mm_container .moneyproduct_product .disstorck .reply .form #ctl00_ContentBody_txt_nr {
  width: 100%;
  height: 1.89333333rem;
  font-size: 0.33333333rem;
}
.mm_container .moneyproduct_product .disstorck .reply .form .ctrl {
  width: 100%;
  height: 0.98666667rem;
  background-color: #fcfcfc;
  position: relative;
  border-top: 0.01333333rem solid #cccccc;
}
.mm_container .moneyproduct_product .disstorck .reply .form .ctrl .tjdp {
  width: 2.66666667rem;
  height: 0.98666667rem;
  background-color: #ff841d;
  border: none;
  box-shadow: inset 0 0 0.13333333rem #ff7300;
  font-size: 0.4rem;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.mm_container .moneyproduct_product .disstorck .list {
  margin-top: 0.33333333rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b {
  position: relative;
  margin-bottom: 0.46666667rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .userimg {
  width: 1.06666667rem;
  height: 1.06666667rem;
  float: left;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .userimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con {
  overflow: hidden;
  padding: 0 0.26666667rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con .name {
  width: 100%;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con .name .username {
  float: left;
  font-size: 0.34666667rem;
  color: #62a5c5;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con .name .time {
  float: right;
  height: 0.6rem;
  line-height: 0.6rem;
  color: #ccc;
  font-size: 0.26666667rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con .content {
  margin-top: 0.13333333rem;
  font-size: 0.29333333rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b .con .content img {
  width: 0.26666667rem;
  height: 0.26666667rem;
  margin-top: 0.13333333rem;
}
.mm_container .moneyproduct_product .disstorck .list ul .ui-border-b::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
