@charset "UTF-8";
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-family: 'Microsoft YaHei', sans-serif;
  background-color: #f5f5f5;
}
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
ul,
ol {
  list-style: none;
}
input[type="text"],
input[type="search"],
textarea {
  border: none;
  outline: none;
  resize: none;
  -webkit-appearance: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  line-height: 0;
  clear: both;
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
.text-one {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-num {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.mm_container {
  padding-top: 2.64rem;
}
.mm_container .mm_header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
.mm_container .mm_header .header_title {
  width: 100%;
  height: 1.30666667rem;
  background-color: #ff841d;
  position: relative;
}
.mm_container .mm_header .header_title .mm_logo {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0.45333333rem;
}
.mm_container .mm_header .header_title .mm_logo a {
  width: 4.94666667rem;
  height: 100%;
  display: block;
  background: url("../images/header_logo.png") no-repeat center;
  background-size: 4.94666667rem 0.66666667rem;
}
.mm_container .mm_header .header_title .appDown {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0.2rem;
}
.mm_container .mm_header .header_title .appDown a {
  width: 0.90666667rem;
  height: 100%;
  display: block;
  background: url("../images/header_app.png") no-repeat center;
  background-size: 0.90666667rem 0.90666667rem;
}
.mm_container .mm_header .header_search {
  width: 100%;
  height: 1.33333333rem;
  background-color: #fff;
  position: relative;
}
.mm_container .mm_header .header_search input {
  width: 7.6rem;
  height: 0.8rem;
  position: absolute;
  top: 0.26666667rem;
  left: 0.26666667rem;
  background-color: #f1f1f1;
  border-radius: 0.4rem;
  font-size: 0.34666667rem;
  text-indent: 0.46666667rem;
}
.mm_container .mm_header .header_search span {
  width: 1.68rem;
  height: 0.8rem;
  position: absolute;
  top: 0.26666667rem;
  right: 0.26666667rem;
  background-color: #ff841d;
  border-radius: 0.4rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.45333333rem;
  color: #fff;
}
.mm_container .product_title {
  width: 100%;
  height: 1.04rem;
  line-height: 1.04rem;
  font-size: 0.37333333rem;
  padding: 0 0.21333333rem;
  border: 0.02666667rem solid #eaeaea;
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
}
.mm_container .product_title .title_right {
  width: 1.66666667rem;
  height: 0.8rem;
  background-color: #f0f0f0;
  line-height: 0.8rem;
  text-align: center;
  margin-top: 0.12rem;
  border-bottom: 0.02666667rem solid #a9a9a9;
  border-radius: 0.10666667rem;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d7d7d7), to(#f5f5f5));
}
.mm_container .mm_footer .brand {
  width: 100%;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  padding: 0 0.26666667rem;
  background-image: linear-gradient(180deg, #feb968, #ff8800);
}
.mm_container .mm_footer .brand .brand_left {
  font-size: 0.4rem;
  color: #fff;
}
.mm_container .mm_footer .brand .brand_right {
  height: 100%;
}
.mm_container .mm_footer .brand .brand_right a {
  display: block;
  width: 0.53333333rem;
  height: 100%;
  background: url('../images/more.png') no-repeat center;
  background-size: 0.53333333rem 0.53333333rem;
}
.mm_container .mm_footer .footer_nav {
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  border: 0.02666667rem solid #c2c2c2;
  text-align: center;
  font-size: 0.34666667rem;
}
.mm_container .mm_footer .footer_nav .login,
.mm_container .mm_footer .footer_nav .register {
  width: 30%;
  height: 100%;
  border-right: 0.02666667rem solid #c2c2c2;
}
.mm_container .mm_footer .footer_nav .login a,
.mm_container .mm_footer .footer_nav .register a {
  display: block;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top {
  width: 40%;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top a {
  display: block;
  height: 100%;
}
.mm_container .mm_footer .footer_nav .top a i {
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  background: url('../images/top.jpg') no-repeat center;
  background-size: 0.4rem;
  position: relative;
  top: 0.04rem;
  right: 0.04rem;
}
.mm_container .mm_footer .cop {
  padding: 0.37333333rem 0;
  font-size: 0.33333333rem;
  text-align: center;
}
.mm_container .mm_footer .cop p {
  color: #666;
}
.mm_container .mm_footer .cop p span:nth-child(1) {
  color: red;
}
.mm_container .mm_footer .cop p span:nth-child(2) {
  color: #000;
}
.mm_container .mm_product .product_content {
  background-color: #fff;
}
.mm_container .mm_product .product_content li {
  padding: 0.26666667rem;
  border-bottom: 0.01333333rem solid #ff0000;
}
.mm_container .mm_product .product_content li a {
  display: block;
}
.mm_container .mm_product .product_content li a .content_left {
  width: 2.66666667rem;
  height: 2.66666667rem;
  background-color: #495;
}
.mm_container .mm_product .product_content li a .content_right {
  height: 2.66666667rem;
  overflow: hidden;
  padding-left: 0.13333333rem;
  position: relative;
}
.mm_container .mm_product .product_content li a .content_right h4 {
  height: 0.93333333rem;
  line-height: 0.4rem;
  font-size: 0.37333333rem;
  font-weight: normal;
}
.mm_container .mm_product .product_content li a .content_right p {
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.26666667rem;
  color: #ff841d;
}
.mm_container .mm_product .product_content li a .content_right .source {
  position: absolute;
  bottom: 0.13333333rem;
  color: #a1aac2;
  font-size: 0.32rem;
  left: 0.13333333rem;
}
.mm_container .mm_product .product_content li a .content_right .comment {
  position: absolute;
  bottom: 0.13333333rem;
  color: #a1aac2;
  font-size: 0.32rem;
  right: 0.13333333rem;
}
.mm_container .mm_product .product_content li a .content_right .comment i {
  width: 0.33333333rem;
  height: 0.24rem;
  background-color: red;
  display: inline-block;
  background: url('../images/comment.png') no-repeat center;
  background-size: 0.33333333rem 0.24rem;
}
.mm_container .mm_product .paging {
  width: 100%;
  height: 1.22666667rem;
  background-color: #fff;
  position: relative;
  font-size: 0.4rem;
}
.mm_container .mm_product .paging .page_up,
.mm_container .mm_product .paging .page_down {
  width: 2.18666667rem;
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  text-align: center;
  border-radius: 0.10666667rem;
  background-image: linear-gradient(to bottom, #f4f4f4, #cccccc);
  position: absolute;
  top: 0.26666667rem;
}
.mm_container .mm_product .paging .page_up {
  left: 0.53333333rem;
}
.mm_container .mm_product .paging .page_down {
  right: 0.53333333rem;
}
.mm_container .mm_product .paging .select {
  width: 2.08rem;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  padding-left: 0.33333333rem;
  border-radius: 0;
  border: 0.02666667rem solid #b7b7b7;
  position: absolute;
  top: 0.26666667rem;
  left: 50%;
  transform: translate(-50%);
}
.mm_container .mm_product .paging .select i {
  position: absolute;
  top: 0.01333333rem;
  right: 0;
  display: inline-block;
  width: 0.53333333rem;
  height: 0.90666667rem;
  text-align: center;
  font-size: 0.6rem;
  background-color: #e1e1e1;
}
.mm_container .mm_product .paging .select .dropDown {
  position: absolute;
  bottom: 0.93333333rem;
  left: -0.02666667rem;
  background-color: #fff;
  border: 0.01333333rem solid #b7b7b7;
  display: none;
}
.mm_container .mm_product .paging .select .dropDown li {
  width: 2.05333333rem;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  text-align: center;
}
.mm_container .mm_product .paging .select .dropDown li.current {
  background-color: #ade1f5;
  color: #fff;
}
.mm_container {
  padding-top: 2.29333333rem;
}
.mm_container .mm_header .header_title {
  padding: 0 1.30666667rem;
  line-height: 1.30666667rem;
}
.mm_container .mm_header .header_title .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.30666667rem;
  height: 1.30666667rem;
}
.mm_container .mm_header .header_title .back a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
}
.mm_container .mm_header .header_title .title {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 0.4rem;
  font-weight: bold;
  color: #fff;
}
.mm_container .mm_header .header_nav {
  border-bottom: 0.01333333rem solid #cccccc;
}
.mm_container .mm_header .header_nav .nav_box {
  position: relative;
}
.mm_container .mm_header .header_nav .nav_box .nav_content {
  width: 90%;
}
.mm_container .mm_header .header_nav .nav_box .nav_content li {
  width: 33.33%;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  text-align: center;
  font-size: 0.34666667rem;
  background-color: #fff;
}
.mm_container .mm_header .header_nav .nav_box .nav_content li i {
  font-size: 0.34666667rem;
}
.mm_container .mm_header .header_nav .nav_box .down_nav {
  width: 100%;
  display: none;
  position: absolute;
  top: 0.98666667rem;
  left: 0;
}
.mm_container .mm_header .header_nav .nav_box .down_nav li {
  width: 100%;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  text-align: center;
  letter-spacing: 0.06666667rem;
  padding: 0 0.26666667rem;
  font-size: 0.26666667rem;
  background-color: #fff;
  border-bottom: 0.01333333rem solid #cccccc;
}
.mm_container .mm_header .header_nav .search {
  width: 10%;
  height: 0.98666667rem;
  line-height: 0.98666667rem;
  text-align: center;
  border-left: 0.01333333rem solid #cccccc;
}
.mm_container .mm_header .header_nav .search i {
  font-size: 0.46666667rem;
}
.mm_container .gsproduct_content ul li {
  width: 49%;
  padding: 0.2rem;
  margin-bottom: 1%;
}
.mm_container .gsproduct_content ul li .content_img {
  width: 100%;
  height: 4.61333333rem;
}
.mm_container .gsproduct_content ul li .content_text p {
  height: 0.86666667rem;
  line-height: 0.86666667rem;
  font-size: 0.4rem;
  overflow: hidden;
  white-space: nowrap;
}
.mm_container .gsproduct_content ul li .content_text span:nth-child(2) {
  font-size: 0.34666667rem;
  color: #f73111;
}
.mm_container .gsproduct_content ul li .content_text span:nth-child(3) {
  width: 1.65333333rem;
  height: 0.74666667rem;
  background-color: #ff9501;
  border-radius: 0.10666667rem;
  line-height: 0.74666667rem;
  text-align: center;
  font-size: 0.34666667rem;
  color: #fff;
}
.mm_container .gsproduct_content ul li:nth-child(2n-1) {
  margin-right: 1%;
}
